nav.navbar.navbar-inverse{
    position: fixed;
    border-radius: 0%;
    width: 100%;
    z-index: 2;
}
div#bootstrap-override,nav+div{
    padding-top: 60px;
    z-index: 1;
}
@media screen and (max-width: 960px){
    nav.navbar.navbar-inverse{
        position: relative;
    }
    div#bootstrap-override,nav+div{
        padding-top: 10px;
        z-index: 1;
    }
}
@font-face {
    font-family: '3dumbregular';
    src: url('../assets/fonts/3dumb-webfont.woff2') format('woff2'),
         url('../assets/fonts/3dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div.navbar-header a.navbar-brand{
    font-family: '3dumbregular';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

div.navbar-header a.navbar-brand:hover{
    color: rgb(189, 179, 88);
}
div.form-group button{
    min-width: 200px;
}
div.col-xs-12.row-grid{
    padding-top: 10px;
}

